<div class="container">
INDEX RAZAS

  <div> L I S T A D O</div>
  <table>
    <thead>
      <tr>
        <th colspan="3">
          <a href="/razas-add"><button>Agregar</button></a>
        </th>
      </tr>
      <tr>
        <th>Id</th>
        <th>Raza</th>
        <th>Imagen</th>
        <th>Caracteristicas</th>
        <th>Detalles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each razas }}
      <tr>
        <td>{{id}}</td>
        <td>{{raza}}</td>
        <td><img src="/images/{{imagen}}" alt="{{imagen}}" width="200"></td>
        <td>{{caracteristicas}}</td>
        <td>{{detalles}}</td>
        <td>
            <a href="/razas-delete/{{id}}"<button class="btn btn-danger btn-sm">Borrar</button></a>
            <a href="/razas-edit/{{id}}"<button class="btn btn-danger btn-sm">Cambiar</button></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
